body {
    font-family: 'Poppins', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F3E7; /* pastel cream */
    color: #3A2920; /* dark chocolate text */
}


header {
    background-color: #8B5C3B; /* chocolate */
    color: white;
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
}

nav {
    background: #9c4d9c;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 12px;
    font-weight: 500;
}

section {
    padding: 30px;
    text-align: center;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.product {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 15px;
    border: 1px solid #C39A78; /* light cocoa border */
    box-shadow: 0px 3px 10px rgba(139, 92, 59, 0.15); /* chocolate shadow */
    transition: 0.3s ease;
}

.product:hover {
    transform: translateY(-4px);
}

.product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.product p {
    margin: 8px 0;
    font-size: 16px;
    font-weight: 500;
    color: #3A2920; /* chocolate text */
}

.btn {
    padding: 8px 12px;
    background: #742774;
    color: white;
    border-radius: 6px;
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    font-size: 14px;
}

footer {
    background-color: #8B5C3B;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}


